<div class="md-padding" flex layout-sm="column">
    <md-card>
        <md-card-content>
            <div layout="column" ng-cloak="" class="md-inline-form inputdemoBasicUsage" >
                <form name="githubForm">
                    <md-content layout="column" layout-padding="">
                        <md-input-container class="md-block">
                            <label>Repository</label>
                            <input md-maxlength="100" required  name="repository" ng-model="vm.repository.selected">
                            <div ng-messages="githubForm.repository.$error">
                              <div ng-message="required">This is required. Example: https://github.com/owner/name</div>
                              <div ng-message="md-maxlength">The description must be less than 100 characters long.</div>
                              <div ng-show="vm.isError">{{vm.error}}</div>
                            </div>
                        </md-input-container>
                        <div layout="column" layout-align="center center">
                            <div>
                                <md-button type="submit" class="md-fab md-primary" aria-label="Eat cake" ng-click="vm.click()">
                                    <ng-md-icon icon="search"></ng-md-icon>
                                </md-button>  
                            </div>                          
                            <div>
                                <md-progress-circular ng-disabled="!vm.activated"  ng-show="vm.activated"class="md-accent md-hue-1" md-diameter="60"></md-progress-circular>
                            </div>
                        </div>
                    </md-content>
                </form>
            </div>
        </md-card-content>
    </md-card>
    <md-card>
         <md-card-content ng-show="vm.resultIsActivated">
            <div layout="column" layout-margin layout-sm="column" layout-align="center center">
                <md-toolbar md-scroll-shrink>
                    <div class="md-toolbar-tools" layout-align="center center">Results</div>
                </md-toolbar>
            <div flex>
                <p>L'analyse montre l'évolution des commits et de leurs contenus pour le site 
                    <b>{{vm.results.name}}</b> sur un total de <b>{{vm.results.numberOfCommits}}</b> commits.
                </p>
                <p>Description du repo :{{vm.results.description}}.</p>
            </div>
            <md-toolbar md-scroll-shrink>
                <div class="md-toolbar-tools" layout-align="center center">Addition</div>
            </md-toolbar>
            <div layout="column">
                <div>
                    <p>Dans cette espace se trouve les explications relatives au graphique des ajouts dans les commits</p>
                </div>
                <div>
                   <!-- <canvas 
                        id="lineDeletion" 
                        class="chart chart-line" 
                        chart-data="vm.additionnData" 
                        chart-labels="vm.lineChart.labels"
                        chart-series="vm.additionSeries"
                        chart-options="vm.lineChart.options" 
                        chart-dataset-override="vm.lineChart.datasetOverride" 
                        chart-click="vm.lineChart.onClick" 
                        chart-colors="vm.lineChart.colors">
                    </canvas> -->
                    <canvas 
                        id="barAddition" 
                        class="chart-bubble" 
                        chart-data="vm.dataBubble"
                        chart-series="vm.seriresBubble"
                        
                        chart-labels="vm.seriresBubble"
                        chart-options="vm.bubblesChart.options" >
                    </canvas> 
                </div>
            </div>
            <div layout="row">
                <div flex=60>
                    <canvas
                        id="barAddition" 
                        class="chart chart-bar"
                        chart-data="vm.additionnDataBar" 
                        chart-labels="vm.BarChart.labels" 
                        chart-options="vm.BarChart.options">
                    </canvas> 
                </div>   
                <div flex=40>    
                    <p>Dans cette espace se trouve les explications relatives au graphique des ajouts dans les commits</p>
                </div>
            </div>
            <md-toolbar md-scroll-shrink>
                <div class="md-toolbar-tools" layout-align="center center">Deletion</div>
            </md-toolbar>
            <div layout="row">
                <div flex=40>
                    <p>Dans cette espace se trouve les explications relatives au graphique des suppressions dans les commits</p>
                </div>
                <div flex=60>
                    <canvas 
                        id="lineDeletion" 
                        class="chart chart-line" 
                        chart-data="vm.deletionData" 
                        chart-labels="vm.lineChart.labels"
                        chart-series="vm.deletionSeries"
                        chart-options="vm.lineChart.options" 
                        chart-dataset-override="vm.lineChart.datasetOverride" 
                        chart-click="vm.lineChart.onClick" >
                    </canvas>
                </div>
            </div>
            <div layout="row">
                <div flex=60>
                  <!--  <canvas
                        id="barAddition" 
                        class="chart chart-bar"
                        chart-data="vm.dataSet"
                        chart-options="vm.BarChart.options">
                    </canvas> -->
                </div>   
                <div flex=40>    
                    <p>Dans cette espace se trouve les explications relatives au graphique des ajouts dans les commits</p>
                </div>
            </div>  
        </div>
        </md-card-content>
    </md-card>
</div>
